* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  padding: 0;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

textarea {
  padding: 0;
  resize: none;
  outline: none;
  transition: 0.5s;
}

button {
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background-color: #4e75ff;
  transition: 0.5s;
}

.container {
  display: flex;
  justify-content: center;
}

.link:hover {
  background-color: #6c8cff;
  transform: scale(104%);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.container-link {
  padding: 20px;
}
